<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Достопримечательности  Северной Осетии</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app">
                <div class="slider__main">
                    <div class="sliders_in_slider__body" :style='{left: sliderOffsetLeft + "px"}'>
                        <div class="js-slide"  v-for="(item, index) in sliderList" :key="index" alt="">
                            <img :src='item.img' alt="NoPhotoLoaded">
                            <p>{{item.name}}</p>
                        </div>
                            <!-- <img class="js-slide" :src='item.img' v-for="(item, index) in sliderList" :key="index" alt=""> -->
                    </div>
                    <button     v-on:click="ChangeSlide(-1)" class="slider-btn slider-btn-minus"   > </button>
                    <button     v-on:click="ChangeSlide(1)"  class="slider-btn slider-btn-plus"   > </button>
                </div>
    </div>
        <script src="js/vue.global.js"></script>
        <script src="js/main.js" type="module"></script>
</body>
</html>